extend layout
block content
    .container-fluid
        .row
            .col-sm-12.col-md-5.results_wrapper
                .row.filter
                    .col-xs-12.col-md-2
                        p Filter
                    .col-xs-12.col-md-10
                        .row
                            .col-xs-4
                                select#category
                                    option(value='') Availability
                                    option(value='today') Today
                                    option(value='tomorrow') Tomorrow
                                    option(value='this_week') This Week
                                    option(value='flexible') Flexible
                            .col-xs-4
                                select#rating
                                    option(value='') Any rating
                                    option(value='2') 2 stars and up
                                    option(value='3') 3 stars and up
                                    option(value='4') 4 stars and up
                            .col-xs-4
                                select#rate
                                    option(value='') Any hourly rate
                                    option(value='_10') $10/hr and below
                                    option(value='10_30') $10/hr - $30/hr
                                    option(value='30_60') $30/hr - $60/hr
                                    option(value='60_') $60/hr and above
                .row.results
                    //- - if tutors != null
                          each tutor, index in tutors
                              .col-xs-12.col-md-12.tutor
                                  .row
                                      .col-xs-2
                                          a(href'#')
                                              img(src=tutor.profile_picture)
                                      .col-xs-10.tutor_details
                                          p.name #{tutor.first_name + " " + tutor.last_name}
                                          p.city
                                              i.icon.icon_pin_alt
                                              |  #{tutor.city}
                                          .row
                                              .col-xs-4
                                                  span.hourly_rate $#{tutor.hourly_rate} / hr
                                              .col-xs-4
                                                  span.hours_worked
                                                      | #{tutor.hours_worked} hrs
                                                      i.icon.icon_clock_alt
                                              .col-xs-4
                                                  span.rating
                                                      | #{tutor.rating}/5
                                                      i.icon.icon_star_alt
                                  .row.action_buttons
                                      .col-xs-4
                                          a(href='#')
                                              i.icon.icon_calendar
                                              |  Book Session
                                      .col-xs-4
                                          a(href='#')
                                              i.icon.icon_comment_alt
                                              |  Message
                                      .col-xs-4
                                          a(href='#')
                                              i.icon.icon_heart_alt
                                              |  Save
                    - for (var x = 1; x < 3; x++)
                        .col-xs-12.col-md-12.tutor
                            .row
                                .col-xs-2
                                    a(href'#')
                                        img(src='/../images/reza.jpg')
                                .col-xs-10.tutor_details
                                    p.name Reza Karami
                                    p.city
                                        i.icon.icon_pin_alt
                                        | Mississauga
                                    .row
                                        .col-xs-4
                                            span.hourly_rate $19.00 / hr
                                        .col-xs-4
                                            span.hours_worked
                                                | 45 hrs
                                                i.icon.icon_clock_alt
                                        .col-xs-4
                                            span.rating
                                                | 4.5/5
                                                i.icon.icon_star_alt
                            .row.action_buttons
                                .col-xs-4
                                    a(href='#')
                                        i.icon.icon_calendar
                                        |  Book Session
                                .col-xs-4
                                    a(href='#')
                                        i.icon.icon_comment_alt
                                        |  Message
                                .col-xs-4
                                    a(href='#')
                                        i.icon.icon_heart_alt
                                        |  Save
                        .col-xs-12.col-md-12.tutor
                            .row
                                .col-xs-2
                                    a(href'#')
                                        img(src='/../images/amit.jpg')
                                .col-xs-10.tutor_details
                                    p.name Amit Maraj
                                    p.city
                                        i.icon.icon_pin_alt
                                        | Markham
                                    .row
                                        .col-xs-4
                                            span.hourly_rate $21.00 / hr
                                        .col-xs-4
                                            span.hours_worked
                                                | 53 hrs
                                                i.icon.icon_clock_alt
                                        .col-xs-4
                                            span.rating
                                                | 4.5/5
                                                i.icon.icon_star_alt
                            .row.action_buttons
                                .col-xs-4
                                    a(href='#')
                                        i.icon.icon_calendar
                                        |  Book Session
                                .col-xs-4
                                    a(href='#')
                                        i.icon.icon_comment_alt
                                        |  Message
                                .col-xs-4
                                    a(href='#')
                                        i.icon.icon_heart_alt
                                        |  Save
                        .col-xs-12.col-md-12.tutor
                            .row
                                .col-xs-2
                                    a(href'#')
                                        img(src='/../images/stacey.jpg')
                                .col-xs-10.tutor_details
                                    p.name Ashley Skies
                                    p.city
                                        i.icon.icon_pin_alt
                                        | Vaughan
                                    .row
                                        .col-xs-4
                                            span.hourly_rate $18.00 / hr
                                        .col-xs-4
                                            span.hours_worked
                                                | 37 hrs
                                                i.icon.icon_clock_alt
                                        .col-xs-4
                                            span.rating
                                                | 4.8/5
                                                i.icon.icon_star_alt
                            .row.action_buttons
                                .col-xs-4
                                    a(href='#')
                                        i.icon.icon_calendar
                                        |  Book Session
                                .col-xs-4
                                    a(href='#')
                                        i.icon.icon_comment_alt
                                        |  Message
                                .col-xs-4
                                    a(href='#')
                                        i.icon.icon_heart_alt
                                        |  Save

            .col-md-7.hidden-sm.map_view
                #map
