extend layout
block content
  //- DATA
  script.
    var p = !{JSON.stringify(req.data).replace(/<\//g, '<\\/')}
    console.log(p)
  //- COVER
  section#tutor_cover

  .container.border-l-r
    .row.relative
      .col-xs-12.faux_shade
    .row.faux_shade_over
      .col-xs-12.col-md-8.profile_wrapper
          .row
            .col-xs-12.profile_overview
              table.table
                tr
                  td.profile_picture
                    if(typeof req.data.profile_picture !== 'undefined')
                      img(src=req.data.profile_picture, alt=req.data.first_name + ' ' + req.data.last_name)
                    else
                      img(src='/images/anonymous.png', alt=req.data.first_name + ' ' + req.data.last_name)
                  td
                    .row
                      .col-xs-12
                        a(href='#').right.save
                          i.icon.icon_heart_alt
                        h2.name #{req.data.first_name + ' ' + req.data.last_name}
                        span.city.left
                          i.icon.icon_pin_alt
                          |  #{req.data.currentLocation.city}
                        span.middot.left ·
                        span.rating_wrapper.left
                          fieldset.rating.disabled
                            input#star5(type='radio', name='rating', value='5', disabled)
                            label.full(for='star5')
                            input#star4half(type='radio', name='rating', value='4.5', disabled)
                            label.half(for='star4half')
                            input#star4(type='radio', name='rating', value='4', disabled)
                            label.full(for='star4')
                            input#star3half(type='radio', name='rating', value='3.5', disabled)
                            label.half(for='star3half')
                            input#star3(type='radio', name='rating', value='3', disabled)
                            label.full(for='star3')
                            input#star2half(type='radio', name='rating', value='2.5', disabled)
                            label.half(for='star2half')
                            input#star2(type='radio', name='rating', value='2', disabled)
                            label.full(for='star2')
                            input#star1half(type='radio', name='rating', value='1.5', disabled)
                            label.half(for='star1half')
                            input#star1(type='radio', name='rating', value='1', disabled)
                            label.full(for='star1')
                            input#starhalf(type='radio', name='rating', value='half', disabled)
                            label.half(for='starhalf')
                        span.left.reviews (
                          a#reviews_scroll(href='#reviews_anchor') #{req.data.num_of_reviews} reviews
                          | )
                    .row.m-t-30
                      .col-xs-12
                        table
                          tr
                            td Rate
                            td
                              span.hourly_rate
                          tr
                            td Availability
                            td
                              span.availability_type
                              span.availability_count
                          tr
                            td Work History
                            td
                              span #{req.data.hours_worked} hours worked
                              span #{req.data.students_taught} students
          .row
            .col-xs-12.profile_details
              hr.m-t-5
              - if(req.data.full_desc != '')
                .about
                  h3 About
                  p #{req.data.full_desc}
              - if(req.data.skills.length > 0)
                hr
                .skills
                  h3 Skills

                  .skills_wrapper
                    - for (var i of req.data.skills)
                      a(href='#').skill #{i}
                    .clearfix
              - if(req.data.subjects.length > 0)  
                hr
                .subjects
                  h3 Subjects

                  .subjects_wrapper
                    - for (var i of req.data.subjects)
                      a(href='#').subject #{i}
                    .clearfix
              br
          //- if(req.data.available.indexOf('in_person') > -1)
          .row.tutor_map
            #map
          .row
            .col-xs-12.tutor_reviews
              h3.left#reviews_anchor #{req.data.num_reviews} Reviews
              span.rating_wrapper.left
                fieldset.rating.rating_xl.disabled
                  input#star5(type='radio', name='rating_xl', value='5', disabled)
                  label.full(for='star5')
                  input#star4half(type='radio', name='rating_xl', value='4.5', disabled)
                  label.half(for='star4half')
                  input#star4(type='radio', name='rating_xl', value='4', disabled)
                  label.full(for='star4')
                  input#star3half(type='radio', name='rating_xl', value='3.5', disabled)
                  label.half(for='star3half')
                  input#star3(type='radio', name='rating_xl', value='3', disabled)
                  label.full(for='star3')
                  input#star2half(type='radio', name='rating_xl', value='2.5', disabled)
                  label.half(for='star2half')
                  input#star2(type='radio', name='rating_xl', value='2', disabled)
                  label.full(for='star2')
                  input#star1half(type='radio', name='rating_xl', value='1.5', disabled)
                  label.half(for='star1half')
                  input#star1(type='radio', name='rating_xl', value='1', disabled)
                  label.full(for='star1')
                  input#starhalf(type='radio', name='rating_xl', value='half', disabled)
                  label.half(for='starhalf')
              .clearfix
              hr.m-t-5
              .loader
                svg(viewbox='0 0 66 66')
                  circle.path(fill='none', stroke-width='6', stroke-linecap='round', cx='33', cy='33', r='30')
              .reviews_wrapper
          .row
            .col-xs-12
              a(href='#').report_tutor
                i.icon.icon_error-circle_alt
                |  Report this tutor
      .col-xs-12.col-md-4.sidebar
        .calendar_wrapper
          .calendar#datepicker
          a(href='#').btn.btn-warning.btn-block.book_session Continue
        .booking_wrapper
          h2.selected_day
          h3.selected_date
          p.selected_times.m-b-15 Select your desired session times
          ul.timeslots
          table.booking_costs
            tr
              td
                span.hourly_rate
                | &nbsp;x 
                span.hours 0 hours
              td
                span.total $0
          a(href='#').btn.btn-warning.btn-block.disabled.request_session Request Session
          a(href='#').btn.btn-block.go_back Go Back
          .overlay
            .loader
              svg(viewbox='0 0 66 66')
                circle.path(fill='none', stroke-width='6', stroke-linecap='round', cx='33', cy='33', r='30')
        br
